@model List

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <h1>Dojo Activity Center</h1>
    <ul class="navbar-nav" style="margin-left: 560px;">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div>
    <h1 style="display:inline-block;" >@ViewBag.activity.ActName</h1>
    <br>
    <br>
    <div class="col-7">
        <h6>Event Coordinator: @ViewBag.activity.Creator.Name</h6>
        <br>
        <h6>Description:</h6>
        <p>@ViewBag.activity.Description</p>
    </div>
    <div class="col-3">
        <h6>Participants:<h6>
        <ul>
            @foreach (Join j in ViewBag.activity.Attendees)
            {
                <p>@j.Joiner.Name</p>   
            }
        </ul>
    </div>
</div>